<!DOCTYPE HTML>


<html>

<head>

       <title> Login </title>
            <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="resources\dist\css\vendor\bootstrap\css\bootstrap.min.css" type="text/css">
    <!--    <link rel="stylesheet" href="resources/css/ipel.css" type="text/css"> -->
    <link rel="stylesheet" href="resources/dist/css/flat-ui.css" type="text/css">


      
        <!-- Latest compiled and minified JavaScript -->
        
        
       
    

    <!-- JQUERY-->
    
    <script src="resources/dist/js/vendor/jquery.min.js"></script>
    <script src="resources/dist/js/flat-ui.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>
    
    </head>
    
    <body style="background:url(/resources/images/fourothree.jpg)   no-repeat center center fixed;-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
    
    <h1 align="center" style="color:#E74C3C;">Four O Three: Forbidden</h1><br/><br/><br/><br/><br/><br/><br/>
    <h2 align="center" style="color:#E67E22;"> Seems like Whatever you were trying is not possible  . Go <i ><a href="/">Home</a></i>  may be?</h2>
    
    
    
    </body>
    
</html>