<!DOCTYPE HTML>


<html>

<head>
     
       <title> Home </title>
            <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="resources/css/respstrap.css" type="text/css">
        <link rel="stylesheet" href="resources/css/ipel.css" type="text/css">
    
    
      <script src="resources/js/angular.js" ></script>
        <!-- Latest compiled and minified JavaScript -->
        <!-- JQUERY-->
        <script src="resources/js/jquery.js" ></script>
       <script src="resources/js/respstrap.js" ></script>
    </head>
<body>
     <%= error %>
    
    
    
    </body>



</html>